body {
    background: rgba(0, 0, 0, 0) url(https://i.ibb.co/yVQcWqF/dark-honeycomb.png);
    background-blend-mode: darken;
    background-size: initial;
    position:relative;
    margin-left: 30px;
}

p {
    word-wrap: normal;
    width: 60%;
    font-size: 18px;
    color:navajowhite;
    font-family: 'Prompt', sans-serif;
    font-weight: bold;
}

h1 {
    font-family: 'Architects Daughter', cursive;
    font-size: 50px;
    color: cornflowerblue;
}

h2 {
    font-family: 'Josefin Sans', sans-serif;
    color:cornflowerblue;
    text-decoration: underline;
    font-size: 40px;
}

h3 {
    font-family: 'Dosis', sans-serif;
    color:lightcoral;
    font-size: 30px;
    text-decoration:underline;
}

h4 {
    font-family: 'Dosis', sans-serif;
    color:seagreen;
    font-size: 22px;
    text-decoration:underline;
}

.link {
    color:lightgreen;
}

.figure-description {
    color: navajowhite;
    font-size:18px;
}

#figure-3-1 {
    max-width: 20%;
}

.type-normal {
    background-color:#C6C6A7;
}

.type-fire {
    background-color:#F08030;
}

.type-water {
    background-color:#6890F0;
}

.type-electric {
    background-color:#F8D030;
}

.type-grass {
    background-color:#78C850;
}

.type-ice {
    background-color:#98D8D8;
}

.type-fighting {
    background-color:#C03028;
}

.type-poison {
    background-color:#A040A0;
}

.type-ground {
    background-color:#E0C068;
}

.type-flying {
    background-color:#A890F0;
}

.type-psychic {
    background-color:#F85888;
}

.type-bug {
    background-color:#A8B820;
}

.type-rock {
    background-color:#B8A038;
}

.type-ghost {
    background-color:#705898;
}

.type-dragon {
    background-color:#7038F8;
}

.type-dark {
    background-color:#705848;
}

.type-steel {
    background-color:#B8B8D0;
}

.type-fairy {
    background-color:#EE99AC;
}

.type-icon {
    display: inline-block;
    width: 80px;
    margin-bottom: 4px;
    z-index: -1;
    border: 1px solid black;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.4);
    color:white;
    font-size: 0.8rem;
    font-weight: normal;
    line-height: 1.5rem;
    text-align: center;
    text-shadow: 1px 1px 2px rgb(0 0 0 / 80%);
    text-transform: uppercase;
    transition: opacity .5s;
    text-decoration: none;
}
