body {
    background: rgba(0, 0, 0, 0.1) url(https://i.ibb.co/KhyWNSv/low-contrast-linen-2-X.png);
    background-blend-mode: darken;
    background-size:initial;
    position:relative;
    margin-left: 30px;
}

h1 {
    font-family: 'Architects Daughter', cursive;
    font-size: 50px;
    color: cornflowerblue;
}

.figure-description {
    color: navajowhite;
    font-size:18px
}

p {
    word-wrap: normal;
    width: 60%;
    font-size: 18px;
    color:navajowhite;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Prompt', sans-serif;
    font-weight: bold;
}

h2 {
    font-family: 'Dosis', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    color:cornflowerblue;
    text-decoration: underline;
    font-size: 40px;
}

h3 {
    font-family: 'Dosis', sans-serif;
    color:lightcoral;
    font-size: 30px;
    text-decoration:underline;
}

h4 {
    font-family: 'Dosis', sans-serif;
    color:seagreen;
    font-size: 22px;
    text-decoration:underline;
}

.twitter-tweet:hover {
    cursor:pointer;
}